include ../mixins/next-item
include ../mixins/single-story
include ../mixins/header-generic
include ../mixins/related-content-subsection

extends ../layouts/default

block header
  +genericHeader(data.post)

block content
  .page-story.page
    .section.container
      +single-story(data.post, data.related)

      +next-item(null, data.next, true)

      +relatedContentSubsection(data.related, data.post)


    include ../includes/join-newsletter