//- links
-facebook = "http://facebook.com/coalitionforpublicsafety"
-twitter = "http://twitter.com/publicsafety"
-linkedIn = "http://linkedin.com/cps"
-youtube = "https://www.youtube.com/channel/UC0hBpgRlkR9k03pCjD0J-hQ"
-medium = "https://medium.com/@publicsafety"
-relatedEmail = "/contact"
-tlmworks = "http://tlmworks.org"

//- page links
-reformInAction = "/reform-in-action"
-stateWork = "/reform-in-action/state-work"
-fedWork = "/reform-in-action/federal-work"
-fedWorkFooter = "/reform-in-action/federal-work/post/federal-reforms"
-keyIssues = "/issues"
-stories = "/voices-of-reform"
-research = "/research"
-takeAction = "/take-action"
-about = "/about"
-press = "/media"
-news = "/media/news"
-blog = "/blog"
-search = "/search"
-contactPress = "/contact?form=press"
-contactGeneral = "/contact?form=general"
-privacy = "/privacy"
-justiceChampions = "/justice-champions"

//- images
-cfpsLogo = "/images/CFPS_footerlogo.png"

