//- ================GLOBAL VARS==========================
-emailPlaceholder = "Direccion electronica"
-zipPlaceholder = "Codigo postal"
-socialMediaRelated = "Relacionado"
-tagCloud = "Grupos"
-learnMore = "Aprende más"

//- page names
-pagesReformInAction = "Reforma en Acción"
-pagesIssues = "Cuestiones Clave"
-pagesStories = "Voces de Reforma"
-pagesPress = "Prensa"
-pagesResearch = "Investigación"
-pagesBlog = "Blog"
-pagesAbout = "Acerca de"
-pagesTakeAction = "Te Invuelves"






//- ===============PAGES==================================
//- index page
//- content section
-indexBanner = "Hola, somos el <span class='underline'><strong>Coalition for Public Safety</strong></span>. Somos el mas grande causa bipartisan en los Estados Unidos trabajando en reformas justicias en los niveles local, por los estados, & federal."
-indexSection1Title = "1 de cada 3 estadounidenses tiene antecedentes penales."
-indexSection2Title = "Cuentas"
-indexSection2SeeMore = "Ver Todos las Cuentas"
-indexSection3Title = "Que podemos hacer?"
-indexSection3Info = "La reforma de la justicia penal afecta a todos: ayuda a las familias, reconstruye las comunidades, mejora la seguridad pública y mucho más. La buena noticia es inteligente, la gente apasionada ya está trabajando en la reforma todos los días. Lo más fácil que todos podemos hacer es educarse y mantenerse informado."
-indexSection3LearnLink = "Aprenda sobre temas clave"
-indexSection3ResearchLink = "Leer Investigación"
-indexSection3CommunityLink = "Hable con su Comunidad"
-indexSection3ContactUs = "Nos Contacto"

//- federal work page
-federalWorkSectionTitle = "Reformas Federal"
-stateReformsSectionTitle = "Reformas Estatal"

//- state work page
-stateWorkSectionTitle = "Estados Unidos tiene la tasa más alta de encarcelamiento en el mundo."

//- state work single page
-stateWorkStatistics = "statistica"
-stateWorkHeaderOverview = "Sobrever"

//- key issues page
-issuesSectionSubheading = "Vamos a hacer la sistema justicia de criminal mas inteligente y mas effeciente por los dolares."
-issuesStatistics = "statistica"

//- key issues single page
-issuesSingleTitle = "Cuestione clave: "
-issuesHeaderOverview = "Sobrever"

//- stories page
-storiesSectionTitle = "Voces de Reforma"
-storiesReadNowBtn = "Lee ahora"

//- press page
-pressTitle = "Acción de Prensa"
-pressCategoriesAll = "Todos los mensajes"
-pressNews = "CPS En Las Noticias" 

//- research page
-researchSectionTitle = "Investigación"
-researchCategoriesAll = "Todos los mensajes"

//- blog page
-blogSection1Title = "Blog"

//- about page
-aboutMissionTitle = "Nuestra misión"
-aboutMissionStatement = "Junto con nuestros socios, somos el esfuerzo nacional más grande que trabaja para hacer que nuestro sistema de justicia penal sea más inteligente, más justo y más rentable a nivel federal, estatal y local."
-aboutMissionParagraph1 = "De una manera sin precedentes, reunimos a las organizaciones conservadoras y progresistas más prominentes de la nación para llevar a cabo un esfuerzo agresivo de reforma de la justicia penal. Nuestros socios llegan a decenas de millones de estadounidenses que buscan reformas de sentido común, y trabajarán para construir un consenso en torno a los esfuerzos integrales que están diseñados para abordar algunos de los problemas más apremiantes que enfrenta el sistema de justicia penal de la nación."
-aboutMissionParagraph2 = "Estamos trabajando en todo el espectro político para perseguir un conjunto integral de reformas de justicia penal federales, estatales y locales para reducir nuestra población carcelaria y carcelaria y los costos asociados; Poner fin a los problemas sistémicos de la sobrecriminalización y el exceso de encarcelamiento, en particular de las comunidades de bajos ingresos y las comunidades de color; Asegurar resultados rápidos y justos tanto para el acusado como para la víctima; Y hacer las comunidades seguras al reducir la reincidencia y romper las barreras que enfrentan los que vuelven a casa después de la detención o encarcelamiento."
-aboutOurGoalsTitle = "Nuestras metas"
-aboutOurGoalsBullet1 = "Priorizar los recursos de seguridad pública a través de la reforma de la sentencia" 
-aboutOurGoalsBullet2 = "Reducir la red de encarcelamiento"
-aboutOurGoalsBullet3 = "Aumentar la seguridad pública a través de programas de rehabilitación eficaces "
-aboutOurGoalsBullet4 = "Romper barreras en las comunidades"
-aboutOurGoalsBullet5 = "Garantizar resultados rápidos y justos tanto para el acusado como para la víctima"
-aboutOurTeamTitle = "Nuestro equipo"

//- take action page
-takeActionTitle = "Habla Con Tu Comunidad"
-takeActionCategoriesAll = "Todos los Informes"

//- cps events
-cpsEventsTitle = "Eventos de CPS"
-cpsEventsBtn = "Aprende más"

//- partner events
-partnerEventsTitle = "Eventos de Nuestros Compañeros"
-partnerEventsBtn = "Aprende más"

//- contact page
-contactHeader = "Nos encantaría saber de usted"
-contactSection1Title = "Para ponerse en contacto con nosotros, rellene el siguiente formulario."
-contactSection1Subtitle = "Como podemos ayudarte?"
-contactSection1GeneralInquiry = "Consulta general"
-contactSection1PressInquiry = "Consulta de prensa"
-contactInquirySubmitted = "Gracias por ponerse en contacto."
-contactName = "Tu nombre"
-contactFirstNamePlaceholder = "Nombre de pila"
-contactLastNamePlaceholder = "Apellido" 
-contactEmail = "Dirección de correo electrónico"
-contactEmailPlaceholder = "tu@ejemplo.com"
-contactZip = "Código postal"
-contactZipPlaceholder = "12345"
-contactPublication = "Publicacion"
-contactPublicationPlaceholder = "Nombre de publicacion"
-contactSubject = "Tema"
-contactSubjectPlaceholder = "La esencia principal"
-contactMessage = "Mensaje"
-contactMessagePlaceholder = "Por favor, introduzca todos los detalles relevantes aquí. Un miembro de nuestro equipo responderá lo antes posible."
-contactFormSubmitBtn = "Enviar"

//- privacy page
-privacyHeader = "Declaración de política"
-privacySectionTitle = "La Coalición por la Seguridad Pública se dedica a proteger la privacidad de nuestros visitantes en línea."
-privacySection1Subtitle = "Recopilación y uso de información"
-privacySection1Info = "La Coalición por la Seguridad Pública recopila información personal de usted sobre una base voluntaria y no la requerimos para obtener el acceso de no-miembros a CoalitionforPublicSafety.org. Los tipos de información personal que recopilamos pueden incluir su nombre, dirección postal, dirección de correo electrónico y número de teléfono."
-privacySection2Subtitle = "Optar por no"
-privacySection2Info = "La Coalición para la Seguridad Pública puede mantener varias listas de correo electrónico opt-out y opt-in. Le damos el control sobre estas suscripciones y en cualquier momento puede 'Optar por no' y eliminar su dirección de correo electrónico de nuestros archivos. Hay un proceso de 'cancelación de suscripción' detallado en la parte inferior de cada correo electrónico, o puede ponerse en contacto con nosotros para ser eliminado de nuestra lista de correo electrónico."
-privacySection3Subtitle = "Galletas"
-privacySection3Info = "CoalitionforPublicSafety.org usa la tecnología 'cookie' para obtener información no personal de nuestros visitantes en línea, como el tipo de navegador / computadora, el número de visitantes, la dirección IP y el uso del sitio. No utilizamos cookies para extraer información personal."
-privacySection4Subtitle = "Links"
-privacySection4Info = "Aunque CoalitionforPublicSafety.org contiene enlaces a otros sitios, La Coalición por la Seguridad Pública no aboga necesariamente, apoya o aprueba las prácticas de privacidad o el contenido de estos diversos sitios Web."
-privacySection5Subtitle = "Seguridad"
-privacySection5Info = "La Coalición por la Seguridad Pública ha tomado medidas para que toda la información recibida de nuestros visitantes en línea sea lo más segura posible contra el acceso y uso no autorizado. Toda la información está protegida por nuestras medidas de seguridad, que se revisan periódicamente."
-privacySection6Subtitle = "Esfuerzos de Privacidad en curso"
-privacySection6Info = "La Coalición para la Seguridad Pública aborda nuestras comunicaciones por Internet con respeto y compromiso con los derechos y preocupaciones individuales de privacidad. A medida que evoluciona Internet, nuestra política continuará desarrollándose. Por favor revise periódicamente para ver los cambios y adiciones."







//- ======================GLOBAL SECTIONS===================
//- footer section
-footerBuiltBy = "Sitio web construido por "
-footerAnchor = "TLM Works,"
-footerTlmWorks = " Dentro de la prisión estatal de San Quintín"
-footerCopy1 = "&copy; 2016, The Coalition for Public Safety"
-footerCopy2 = "12345 Main St, San Francisco, CA 12389"
-footerPrivacy = "Política de privacidad"
-footerReformInAction = "Reforma en Acción"
-footerState = "Reformas Estatal"
-footerFederal = "Reformas Federal"
-footerResources = "Recursos"
-footerCompany = "Empresa"
-footerCompanyTwitter = "Twitter"
-footerCompanyFacebook = "Facebook"
-footerCompanyYouTube = "Youtube"
-footerCompanyMedium = "Medium"
-footerContact = "Contacto"
-footerContactPress = "Consulta de prensa"
-footerContactGeneral = "Consulta general"
-footerSupportersTagline1 = "LA COALICIÓN PARA LOS APOYADORES DE LA SEGURIDAD PÚBLICA"
-footerSupportersTagline2 = "NUESTROS APOYADORES"

//- map section
-mapBtn = "Más sobre Justicia en&nbsp;"

//- partners section
-partnersTitle = "Nuestros Compañeros"
-goTo = "Va a"

//- allies section
-alliesTitle = "Nuestros Aliados"

//- categories section
-filterByTitle = "Filtrado por" 
-filterAllStates = "Todos los Estados"

-seeAll = "Ver todos"



//- ===============INCLUDES(NEWSLETTER, DONATE, ...===================
//- join us newsletter
-joinUsTitle = "Únete a nuestra lista de correos."
-joinUsSubtitle = "Obtenga actualizaciones ocassionales sobre la reforma de la justicia penal en su área. Es gratis. Es fácil. Puede darse de baja en cualquier momento."
-joinUsBtn = "Únete ahora"


//- share a story
-shareStoryTitle = "Comparta una historia."
-shareStorySubtitle = "¿Tienes una experiencia para compartir? ¿Tiene una historia sobre alguien que ha hecho la diferencia? ¡Nos encantaría saber de usted!"
-shareStoryBtn = "Estar en contacto"


//- donate
-donateTitle = "Donar hoy."
-donateSubtitle = "Su regalo deducible de impuestos ayudará a avanzar la reforma de la justicia penal de sentido común. ¡Ninguna cantidad es demasiado pequeña!"
-donateBtn = "Quiero dar"
-donateFollow = "Síguenos."
-donateFacebookBtn = "Como nosotros en Facebook"
-donateTwitterBtn = "Síganos en Twitter"


//- join-newsletter
-joinNewsletterTitle = "Únete a nosotros."
-joinNewsletterSubtitle = "Únase a nuestro boletín o actualizaciones ocassionales sobre la reforma de la justicia penal en su área. Es gratis. Es fácil. Puede darse de baja en cualquier momento."
-joinNewsletterBtn = "Envias"


//- tags 
-tagsSinglePageHeading = "Markas"


//- search
-noResults = "No respuestas"
-searchButton = "Busca"
-insertKeywords = "Palabras para buscar aqui"

//- justice-champions
-justiceChampionsNews = "En La Prensa"
-justiceChampionsMore = "Mas Campiones"