//- ================GLOBAL VARS==========================
-emailPlaceholder = "Email"
-zipPlaceholder = "Zip code"
-socialMediaRelated = "Related"
-tagCloud = "Tags"
-learnMore = "Learn More"

//- page names
-pagesReformInAction = "Reform In Action"
-pagesIssues = "Key Issues"
-pagesStories = "Voices of Reform"
-pagesPress = "Media"
-pagesResearch = "Research"
-pagesBlog = "Blog"
-pagesAbout = "About"
-pagesTakeAction = "Get Involved"






//- ===============PAGES=================================
//- index page
//- content section
-indexBanner = "Hi, we're the <span class='underline'><strong>Coalition for Public Safety</strong></span>. We're the largest bipartisan effort in the U.S. working on justice reform at the local, state & federal levels."
-indexSection1Title = "1 in 3 Americans has a criminal record."
-indexSection2Title = "Stories"
-indexSection2SeeMore = "See All Stories"
-indexSection3Title = "What can we do?"
-indexSection3Info = "Criminal justice reform affects everyone: it helps families, rebuilds communities, improves public safety, and so much more. The good news is smart, passionate people are already working on reform every day. The easiest thing that we can all do is get educated and stay informed."
-indexSection3LearnLink = "Learn About Key Issues"
-indexSection3ResearchLink = "Read Research"
-indexSection3CommunityLink = "Talk with Your Community"
-indexSection3ContactUs = "Contact Us"

//- federal work page
-federalWorkSectionTitle = "Federal Reforms"
-stateReformsSectionTitle = "State Reforms"

//- state work page
-stateWorkSectionTitle = "The United States has the highest rate of incarceration in the world."

//- state work single page
-stateWorkStatistics = "Statistic"
-stateWorkHeaderOverview = "Overview"

//- key issues page
-issuesSectionSubheading = "Let’s make the criminal justice system smarter, fairer, and more cost effective."
-issuesStatistics = "Statistic"

//- key issues single page
-issuesSingleTitle = "Key Issue: "
-issuesHeaderOverview = "Overview"

//- stories page
-storiesSectionTitle = "Voices of Reform"
-storiesReadNowBtn = "Read now"

//- press page
-pressTitle = "Press Releases"
-pressCategoriesAll = "All Posts"
-pressNews = "CPS In The News" 

//- research page
-researchSectionTitle = "Research"
-researchCategoriesAll = "All Posts"

//- blog page
-blogSection1Title = "Blog"

//- about page
-aboutMissionTitle = "Our Mission"
-aboutMissionStatement = "Together with our partners, we're the largest national effort working to make our criminal justice system smarter, fairer, and more cost effective at the federal, state, and local level."
-aboutMissionParagraph1 = "In an unprecedented way, we bring together the nation's most prominent conservative and progressive organizations to pursue an aggressive criminal justice reform effort. Our partners reach tens of millions of Americans seeking commonsense reforms, and will work to build consensus around comprehensive efforts that are designed to address some of the most pressing issues facing the nation's criminal justice system."
-aboutMissionParagraph2 = "We're working across the political spectrum to pursue a comprehensive set of federal, state, and local criminal justice reforms to reduce our jail and prison populations and associated costs; end the systemic problems of overcriminalization and overincarceration - particularly of low-income communities and communities of color; ensure swift and fair outcomes for both the accused and the victim; and make communities safe by reducing recidivism and breaking down barriers faced by those returning home after detention or incarceration."
-aboutOurGoalsTitle = "Our Goals"
-aboutOurGoalsBullet1 = "Prioritizing public safety resources via sentencing reform" 
-aboutOurGoalsBullet2 = "Narrowing the net of incarceration"
-aboutOurGoalsBullet3 = "Increasing public safety through effective rehabilitation programs "
-aboutOurGoalsBullet4 = "Breaking down barriers in communities"
-aboutOurGoalsBullet5 = "Ensuring prompt and fair outcomes for both the accused and the victim"
-aboutOurTeamTitle = "Our Team"

//- take action page
-takeActionTitle = "Talk With Your Community"
-takeActionCategoriesAll = "All Fact Sheets"

//- cps events
-cpsEventsTitle = "CPS Events"
-cpsEventsBtn = "Learn More"

//- partner events
-partnerEventsTitle = "Partner Events"
-partnerEventsBtn = "Learn More"

//- contact page
-contactHeader = "We'd love to hear from you"
-contactSection1Title = "To get in touch with us, please fill out the inquiry form below."
-contactSection1Subtitle = "How can we help you?"
-contactSection1GeneralInquiry = "General Inquiry"
-contactSection1PressInquiry = "Press Inquiry"
-contactInquirySubmitted = "Thanks for getting in touch."
-contactName = "Your Name"
-contactFirstNamePlaceholder = "First Name"
-contactLastNamePlaceholder = "Last Name" 
-contactEmail = "Email Address"
-contactEmailPlaceholder = "you@example.com"
-contactZip = "Zip Code"
-contactZipPlaceholder = "12345"
-contactPublication = "Publication"
-contactPublicationPlaceholder = "Publication name"
-contactSubject = "Subject"
-contactSubjectPlaceholder = "The main gist"
-contactMessage = "Message"
-contactMessagePlaceholder = "Please enter all relevant details here. A member of our team will respond as soon as possible."
-contactFormSubmitBtn = "Send"

//- privacy page
-privacyHeader = "Policy Statement"
-privacySectionTitle = "The Coalition for Public Safety is dedicated to protecting the privacy of our online visitors."
-privacySection1Subtitle = "Gathering and Usage of Information"
-privacySection1Info = "The Coalition for Public Safety collects personal information from you on a voluntary basis and we don’t require it to obtain non-membership access to CoalitionforPublicSafety.org. The types of personal information we collect may include your name, mailing address, email address, and phone number."
-privacySection2Subtitle = "Opt-Out"
-privacySection2Info = "The Coalition for Public Safety may maintain several opt-out and opt-in email lists. We give you control over these subscriptions and at any time you may “opt-out” and remove your e-mail address from our files. There is an “unsubscribe” process detailed at the bottom of every email, or you can contact us to be removed from our email list."
-privacySection3Subtitle = "Cookies"
-privacySection3Info = "CoalitionforPublicSafety.org uses “cookie” technology to obtain non-personal information from our online visitors, such as browser/computer type, number of visitors, IP address, and site usage. We don’t use cookies to extract personal information."
-privacySection4Subtitle = "Links"
-privacySection4Info = "Although CoalitionforPublicSafety.org contains links to other sites, The Coalition for Public Safety does not necessarily advocate, support or condone the privacy practices or content of these various Web sites."
-privacySection5Subtitle = "Security"
-privacySection5Info = "The Coalition for Public Safety has taken steps to make all information received from our online visitors as secure as possible against unauthorized access and use. All information is protected by our security measures, which are periodically reviewed."
-privacySection6Subtitle = "Ongoing Privacy Efforts"
-privacySection6Info = "The Coalition for Public Safety approaches our Internet communications with respect for and commitment to individual privacy rights and concerns. As the Internet evolves, our policy will continue to develop. Please check back periodically to see changes and additions."







//- ======================GLOBAL SECTIONS===================
//- footer section
-footerBuiltBy = "Website built by "
-footerAnchor = "TLM Works,"
-footerTlmWorks = " inside San Quentin State Prison"
-footerCopy1 = "&copy; 2016, The Coalition for Public Safety"
-footerCopy2 = "12345 Main St, San Francisco, CA 12389"
-footerPrivacy = "Privacy Policy"
-footerReformInAction = "Reform In Action"
-footerState = "State Reforms"
-footerFederal = "Federal Reforms"
-footerResources = "Resources"
-footerCompany = "Company"
-footerCompanyTwitter = "Twitter"
-footerCompanyFacebook = "Facebook"
-footerCompanyYouTube = "Youtube"
-footerCompanyMedium = "Medium"
-footerContact = "Contact"
-footerContactPress = "Press Inquiry"
-footerContactGeneral = "General Inquiry"
-footerSupportersTagline1 = "THE COALITION FOR PUBLIC SAFETY'S SUPPORTERS"
-footerSupportersTagline2 = "OUR SUPPORTERS"

//- map section
-mapBtn = "More About Justice in&nbsp;"

//- partners section
-partnersTitle = "Our Partners"
-goTo = "Go to"

//- allies section
-alliesTitle = "Our Allies"

//- categories section
-filterByTitle = "Filter By" 
-filterAllStates = "All states"

-seeAll = "See all"



//- ===============INCLUDES(NEWSLETTER, DONATE, ...===================
//- join us newsletter
-joinUsTitle = "Join our mailing list."
-joinUsSubtitle = "Get ocassional updates on criminal justice reform in your area. It's free. It's easy. You can unsubscribe at any time."
-joinUsBtn = "Join Now"


//- share a story
-shareStoryTitle = "Share a story."
-shareStorySubtitle = "Have an experience to share? Have a story about someone who’s made a difference? We’d love to hear from you!"
-shareStoryBtn = "Get in touch"


//- donate
-donateTitle = "Donate today."
-donateSubtitle = "Your tax-deductible gift will help advance common sense criminal justice reform. No amount is too small!"
-donateBtn = "I want to give"
-donateFollow = "Follow us."
-donateFacebookBtn = "Like Us on Facebook"
-donateTwitterBtn = "Follow Us on Twitter"


//- join-newsletter
-joinNewsletterTitle = "Join us."
-joinNewsletterSubtitle = "Join our newsletter for ocassional updates on criminal justice reform in your area. It's free. It's easy. You can unsubscribe at any time."
-joinNewsletterBtn = "Get Updates"


//- tags 
-tagsSinglePageHeading = "Tags"


//- search
-noResults = "No results"
-searchButton = "Search"
-insertKeywords = "Insert keywords here"

//- justice-champions
-justiceChampionsNews = "In The News"
-justiceChampionsMore = "More Champions"